:root {
	--background: #001524;
	--border: #FFECD1;
	--card: #15616D;
}

* {
	font-family: verdana, arial, sans-serif;
	color: var(--border);
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 95vh;
	background-color: var(--background);
}

.square {
	text-align: center;
	width: 50px;
	background-color: var(--card);
	display: inline-block;
	padding: 40px;
	font-size: 60px;
	margin: 5px;
	cursor: pointer;
	border: var(--border) 5px solid;
	border-radius: 10px;
	color: var(--card);
}

.player, .winner {
	font-size: 25px;
	margin-top: 10px;
}

button {
	margin-top: 10px;
	width: auto;
	height: auto;
	background-color: var(--card);
	cursor: pointer;
	border-radius: 10px;
	border: var(--border) 1px solid;
	color: var(--border);
	font-size: 20px;
	padding: 1rem;
}

